@import url(/style.css);
@import url(/badge/badge.css);

.nav-intro-heading,
.nav-intro {
  text-align: center;
}
.nav-container {
  min-width: 40rem;
  height: auto;
  margin: 3rem 2rem 2rem 2rem;
}

.nav-standard-list-item {
  border-radius: 4px;
  padding: 10px;
  color: var(--dark-black);
}
.nav-button {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  color: var(--dark-black);
}
.nav-standard-list-item:hover {
  background-color: var(--off-white);
}
.nav-standard {
  align-items: center;
  background-color: var(--white-color);
  height: 4rem;
  box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.1);
}
.navbar-name {
  font-size: 2.1rem;
  color: var(--medium-blue);
}
.nav-standard-item-sectionOne,
.nav-standard-item-sectionTwo {
  align-items: center;
  gap: 1rem;
}
.nav-standard-item-sectionOne {
  justify-content: flex-start;
}
.nav-standard-item-sectionTwo {
  margin-left: auto;
  justify-content: flex-end;
  margin-right: 1.25rem;
}

.main-content-nav {
  margin-top: 4rem;
  margin-left: 15.5rem;
  height: 100%;
  padding: 1rem;
}
/* iframes */
.iframe-container {
  height: auto;
  justify-content: center;
}
.nav-iframe {
  height: 34rem;
  margin-bottom: 2rem;
}
