@import url(/style.css);

.form-container {
  margin: 2rem 0;
}

.form-heading {
  margin: 5px 0;
  color: var(--darker-grey);
}

.form-login {
  gap: 1rem;
  width: 16rem;
  height: 20rem;
  border-radius: 10px;
  background-color: var(--off-white);
}

.form-label,
.password-label {
  font-size: 0.875rem;
}

.input-container,
.error-input {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form-input,
.error-for-password-input {
  padding: 5px;
  width: 13rem;
  height: 1.7rem;
  border-radius: 3px;
}

.form-input {
  border: 1px solid var(--darker-grey);
}

.error-for-password-input {
  border: 1px solid var(--medium-red);
  color: var(--medium-red);
}

.error-for-password-input::placeholder {
  color: var(--medium-red);
}

.form-button {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.login-btn,
.cancel-btn {
  width: 5.5rem;
  height: 2.3rem;
  border: none;
  box-sizing: border-box;
  font-size: 1.15rem;
  border-radius: 2px;
}

.login-btn {
  background-color: var(--medium-blue);
  color: var(--off-white);
}

.cancel-btn {
  border: 1px solid var(--darker-grey);
  background-color: transparent;
  color: var(--darker-grey);
}

/* error input */

.error-input-container {
  margin-bottom: 1rem;
}

.error-input-msg {
  color: var(--medium-red);
  font-size: 0.875rem;
  margin: 0;
}

/* input textarea */

.input-textarea-container {
  padding: 1rem;
  gap: 1rem;
}

.input-textarea-wrapper {
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  background-color: var(--off-white);
  margin-bottom: 1rem;
}

.input-textarea {
  border: 1px solid var(--darker-grey);
  border-radius: 3px;
}

/* iframes */

.label-input-iframe {
  height: 33rem;
}

.error-input-iframe {
  height: 16rem;
}

.input-textarea-iframe {
  height: 17rem;
}

/* search input */
.search-input-container {
  width: 100%;
  height: 7rem;
  justify-content: center;
  align-items: center;
}
.search {
  background-color: var(--light-grey);
  padding: 0.4rem 1rem;
  width: 20rem;
  border-radius: 3px;
}
.search-input {
  color: var(--darkest-grey);
  padding: 0.3rem;
  text-align: left;
  font-size: 1rem;
  border-radius: 3px;
  padding: 3px;
  background-color: var(--light-grey);
  border: none;
  outline: none;
  width: 14rem;
}

.search-icon {
  color: var(--dark-grey);
}

.search-input-iframe {
  height: 10rem;
}
