@import url(/style.css);
.landing-page {
  height: 100vh;
  width: 100%;
  margin: auto;
  gap: 1.25rem;
  background-color: var(--dark-black);
}
.ranger-ui {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  color: var(--dark-teal);
}
.ranger-ui-name {
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  color: var(--dark-teal);
  font-weight: 900;
}
.landing-page-content {
  width: 50%;
  font-size: 1.25rem;
  line-height: normal;
  color: var(--light-grey);
  text-align: justify;
}
.landing-page-btn {
  border: none;
  border-radius: 3px;
  background-color: var(--dark-teal);
  color: var(--dark-black);
  padding: 0.9rem 1.87rem;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.landing-page-btn:hover {
  transform: scale(1.1);
}
.get-started-link {
  color: var(--dark-black);
}
.made-by-text {
  color: var(--dark-teal);
}
.landing-page-social-links {
  align-items: center;
  position: absolute;
  bottom: 2rem;
}
