@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url(/alert/alert.css);
@import url(/avatar/avatar.css);
@import url(/badge/badge.css);
@import url(/button/button.css);
@import url(/card/card.css);
@import url(/image/image.css);
@import url(/input/input.css);
@import url(/list/list.css);
@import url(/modal/modal.css);
@import url(/navigation/navigation.css);
@import url(/notify/notify.css);
@import url(/rating/rating.css);
@import url(/simplified-grid/simplified-grid.css);
@import url(/text-utilities/text-utilities.css);

:root {
  --dark-black: #292524;
  --darkest-grey: #44403c;
  --darker-grey: #57534e;
  --dark-grey: #78716c;
  --medium-grey: #a8a29e;
  --light-grey: #e2e8f0;
  --darker-teal: #115e59;
  --dark-teal: #2dd4bf;
  --medium-teal: #14b8a6;
  --light-teal: #f0fdfa;
  --medium-red: #dc2626;
  --off-white: #fafaf9;
  --medium-yellow: #fbbf24;
  --dark-yellow: #facc15;
  --medium-orange: #fb923c;
  --dark-blue: #3b82f6;
  --medium-blue: #60a5fa;
  --light-blue: #93c5fd;
  --lighter-blue: #bfdbfe;
  --lightest-blue: #dbeafe;
  --medium-green: #16a34a;
  --dark-green: #15803d;
  --white-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* utility classes */
a {
  text-decoration: none;
}

.margin-top-bottom-zero {
  margin-top: 0;
  margin-bottom: 0;
}

.min-bold {
  font-weight: 510;
}

.flex {
  display: flex;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.margin-auto {
  margin-right: auto;
}
.list {
  list-style-type: none;
}

.component-name {
  color: var(--darkest-grey);
}
.component-intro {
  text-align: justify;
  color: var(--darkest-grey);
}

.sub-component-name {
  color: var(--darker-grey);
}
/* iframe */

iframe {
  width: 37rem;
}

@media only screen and (max-width: 800px) {
  iframe {
    width: 27rem;
  }
}

@media only screen and (max-width: 700px) {
  iframe {
    width: 24rem;
  }
}

/* navbar   */

.navbar {
  z-index: 1;
  display: flex;
  height: 4rem;
  background-color: var(--dark-black);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 2px 7px 7px 2px rgba(0, 0, 0, 0.1);
}

.navbar-heading {
  margin: 1rem auto 0 1rem;
}

.navbar-social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
}

.navbar-btn {
  font-size: 1.25rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.navbar-btn:hover {
  background-color: var(--darkest-grey);
}

.navbar-btn-link {
  color: var(--dark-teal);
}

.ranger-ui {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
}

.ranger-ui-name {
  color: var(--dark-teal);
  text-decoration: none;
  font-size: 2.25rem;
}

.ranger-ui-name:hover {
  color: var(--medium-teal);
}

/**** Sidebar ****/

.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  width: 15.5rem;
  height: 100%;
  border-right: 1px solid var(--dark-black);
  padding: 0;
  margin: 0;
}

.sidebar-heading {
  padding: 1rem;
}

.sidebar-link {
  font-size: 1.1rem;
  color: var(--darker-teal);
}

.sidebar-list-item {
  padding: 0.4rem 2rem;
}

.sidebar-list-item:hover {
  background-color: var(--light-teal);
}

/****** main content   *******/

.main-content {
  margin-top: 4rem;
  margin-left: 15.5rem;
  height: 100%;
  align-items: center;
  padding: 1rem;
}

.line-separate {
  height: 0;
  margin: 0;
  color: var(--darkest-grey);
  width: 100%;
}
