@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url(button/button.css);

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  --black: #292524;
  --greyOne: #44403c;
  --greyTwo: #57534e;
  --greyFour: #e2e8f0;
  --teal1: #115e59;
  --teal2: #2dd4bf;
  --teal3: #f0fdfa;
  --red1: #dc2626;
  --alert-green: #d9f99d;
  --alert-blue: #bfdbfe;
  --alert-yellow: #fde68a;
  --alert-red: #fecaca;
  --white1: #fafaf9;
  --yellow2: #fbbf24;
  --orange2: #fb923c;
  --blue2: #60a5fa;
}
/******** navbar   ********/
.navbar {
  display: flex;
  height: 4rem;
  background-color: var(--black);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.navbar-heading {
  margin-right: auto;
  margin-top: 1rem;
  margin-left: 1rem;
}

.navbar-social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
}
.navbar-btn {
  font-size: 1.25rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}
.navbar-btn:hover {
  background-color: var(--greyOne);
}
.navbar-btn-item {
  color: var(--teal2);
}
.ranger-ui {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  color: var(--teal2);
}
.ranger-ui-name {
  text-decoration: none;
  font-size: 2.25rem;
  color: var(--teal2);
}
.ranger-ui-name:hover {
  color: var(--teal1);
}

/**** Sidebar ****/

.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  list-style: none;
  width: 15.5rem;
  height: 100%;
  border-right: 1px solid var(--black);
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
.sidebar-heading {
  padding: 1rem;
}
.sidebar-items {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--teal1);
}
.sidebar-list-items {
  padding: 1.25rem;
}

.sidebar-list-items:hover {
  background-color: var(--teal3);
}

/****** main content   *******/

.main-content {
  margin-top: 4rem;
  margin-left: 15.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.line-separate {
  height: 0;
  margin: 0;
  color: var(--greyOne);
  width: 100%;
}
