@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --dark-black: #292524;
  --darkest-grey: #44403c;
  --darker-grey: #57534e;
  --light-grey: #e2e8f0;
  --darker-teal: #115e59;
  --dark-teal: #2dd4bf;
  --light-teal: #f0fdfa;
  --medium-red: #dc2626;
  --off-white: #fafaf9;
  --medium-yellow: #fbbf24;
  --medium-orange: #fb923c;
  --medium-blue: #60a5fa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/******** navbar   ********/
.navbar {
  display: flex;
  height: 4rem;
  background-color: var(--dark-black);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.navbar-heading {
  margin-right: auto;
  margin-top: 1rem;
  margin-left: 1rem;
}

.navbar-social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
}
.navbar-btn {
  font-size: 1.25rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}
.navbar-btn:hover {
  background-color: var(--darkest-grey);
}
.navbar-btn-link {
  color: var(--dark-teal);
}
.ranger-ui {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  color: var(--dark-teal);
}
.ranger-ui-name {
  text-decoration: none;
  font-size: 2.25rem;
  color: var(--dark-teal);
}
.ranger-ui-name:hover {
  color: var(--darker-teal);
}

/**** Sidebar ****/

.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  bottom: 0;
  list-style: none;
  width: 15.5rem;
  height: 100%;
  border-right: 1px solid var(--dark-black);
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
.sidebar-heading {
  padding: 1rem;
}
.sidebar-link {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--darker-teal);
}
.sidebar-list-item {
  padding: 1.25rem;
}

.sidebar-list-item:hover {
  background-color: var(--light-teal);
}

/****** main content   *******/

.main-content {
  margin-top: 4rem;
  margin-left: 15.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.line-separate {
  height: 0;
  margin: 0;
  color: var(--darkest-grey);
  width: 100%;
}
