@import url(/style.css);

/* star rating */
.rating-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.star-rating {
  background-color: var(--off-white);
  padding: 1rem;
  width: 5.5rem;
  gap: 3px;
  height: 1rem;
}
.rating-star {
  color: var(--dark-yellow);
}

/* numbered rating */
.numbered-rating {
  height: 1rem;
  width: 3rem;
  padding: 6px;
  background-color: var(--dark-green);
  border-radius: 3px;
  gap: 3px;
}
.numbered-rating-item {
  color: var(--off-white);
  font-size: 1.1rem;
}
/* iframes */

.star-rating-iframe {
  height: 15.5rem;
}
.numbered-rating-iframe {
  height: 11.5rem;
}
