@import url(/style.css);
@import url(/button/button.css);

.modal-container {
  margin: 2rem 0;
}
.modal {
  box-sizing: border-box;
  border: 1px solid var(--medium-grey);
  padding: 1rem;
  min-width: 21rem;
  background-color: var(--off-white);
  border-radius: 3px;
  height: auto;
}
.modal-title {
  margin-top: 0;
  color: var(--dark-black);
}
.modal-content {
  color: var(--dark-grey);
}
.modal-button {
  justify-content: flex-end;
  gap: 10px;
}
/* iframe */

.modal-iframe {
  height: 16rem;
}
