@import url(/style.css);
@import url(/button/button.css);

.modal-container {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-modal {
  margin: 2rem 0;
  padding: 10px 20px;
}
.open {
  display: flex;
}
.close {
  display: none;
}
.modal {
  box-sizing: border-box;
  border: 1px solid var(--medium-grey);
  padding: 1rem;
  width: 21rem;
  background-color: var(--off-white);
  border-radius: 3px;
  height: auto;
}
.modal-title {
  margin-top: 0;
  color: var(--dark-black);
}
.modal-content {
  color: var(--dark-grey);
}
.modal-button {
  justify-content: flex-end;
  gap: 10px;
}
/* iframe */

.modal-iframe {
  height: 16rem;
}
