@import url(/style.css);
@import url(/button/button.css);
@import url(/image/image.css);

.card-container {
  margin: 1rem 0 2rem 0;
}
.horizontal-card-container {
  margin: 1rem 0 2rem 0;
  justify-content: center;
  gap: 2rem;
}
.vertical-card-container {
  gap: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}
.product-card-img {
  width: 16rem;
  height: 18.875rem;
  object-fit: cover;
  border-radius: 4px;
}
.vertical-card,
.text-overlay-card {
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white-color);
  max-width: 17rem;
  height: auto;
  padding: 7px;
  transition: 0.2s;
}
.wishlist-btn-passive,
.wishlist-btn-active,
.cross-btn {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: none;
  font-size: 1.2rem;
}
.wishlist-btn-passive {
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  color: var(--darker-grey);
  background-color: var(--white-color);
}
.wishlist-btn-active {
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  color: var(--medium-red);
  background-color: var(--white-color);
}
.cross-btn {
  top: 7px;
  right: 7px;
  color: var(--off-white);
  background-color: var(--medium-red);
  border-radius: 3px;
}
.vertical-card:hover,
.text-overlay-card:hover,
.text-card:hover,
.quiz-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.vertical-card-content,
.text-overlay-card-content,
.horizontal-card-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 5px;
}
.vertical-card-content,
.text-overlay-card-content,
.horizontal-card-content {
  gap: 10px;
}
.horizontal-card-content {
  padding: 1rem;
}
.vertical-card-content-one,
.text-ovrlay-card-content-item {
  font-size: 1.25rem;
}

.vertical-card-content-two {
  color: var(--darker-grey);
}
.vertical-card-content-three {
  gap: 0.813rem;
}
.current-price {
  font-size: 1.25rem;
  font-weight: 510;
}
.original-price {
  text-decoration: line-through;
  color: var(--darker-grey);
}
.discount-text {
  font-weight: 510;
  color: var(--medium-green);
}
/* horizontal card */

.horizontal-card {
  background-color: var(--white-color);
  height: 19rem;
  width: 34rem;
  display: flex;
  padding: 7px;
  border-radius: 4px;
}
.horizontal-card-image {
  max-width: 17rem;
}
.horizontal-card-sectionTwo {
  justify-content: space-around;
}
.incre-decre-btn {
  background-color: transparent;
  border: 1px solid var(--dark-black);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}
.quantity {
  box-sizing: border-box;
  border: 1px solid var(--dark-black);
  padding: 0 4px 0 4px;
}
.quantity-section {
  align-items: center;
  gap: 5px;
}
.horizontal-card-btn {
  gap: 10px;
}

/*text-card  */
.text-card {
  width: 23rem;
  height: 19rem;
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 1.5rem;
}

.text-card-section-two {
  justify-content: center;
}
.text-card-item {
  justify-content: space-between;
}
.text-overlay-card-content {
  position: absolute;
  bottom: 3.5rem;
  left: 0.5rem;
  color: var(--off-white);
}
/* iframes */

.card-iframe {
  height: 26rem;
}
.text-only-card-iframe {
  height: 32rem;
}
.horizontal-card-iframe {
  height: 40rem;
}
.card-with-badges-iframe {
  height: 52rem;
}
/* ***************** */

.quiz-img {
  width: 100%;
  height: 14rem;
  max-width: 22rem;
  border-radius: 4px;
}
.quiz-card {
  width: 24rem;
  height: auto;

  border-radius: 4px;
  background-color: var(--white-color);
}
.quiz-title {
  margin-top: 0;
}
.quiz-img-wrapper {
  padding: 1rem;
}
.quiz-msg {
  text-align: center;
}
.start-quiz {
  margin: 1rem 0;
}
