@import url(/style.css);

.btn-intro {
  font-size: 1.25rem;
  padding: 1rem 0;
}
.btn-container {
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

/* primary btns */

.primary-btn-sm,
.primary-btn-md-one,
.primary-btn-md-two,
.primary-btn-lg,
.btn-with-icon-sm,
.btn-with-icon-md,
.btn-with-icon-lg {
  border: none;
  color: var(--dark-black);
  border: none;
  border-radius: 3px;
  font-size: 1.25rem;
}
.secondary-btn-md {
  border: none;
  border-radius: 3px;
  font-size: 1.25rem;
  transition: 0.3s;
}
.primary-btn-sm {
  background-color: var(--medium-blue);
  width: 7rem;
  padding: 10px 10px;
}
.btn-with-icon-sm {
  background-color: var(--medium-blue);
  width: 10rem;
  padding: 1rem;
}
.primary-btn-md-one,
.btn-with-icon-md {
  background-color: var(--medium-blue);
}
.primary-btn-md-two {
  background-color: var(--medium-grey);
}
.primary-btn-md-one,
.primary-btn-md-two,
.secondary-btn-md,
.btn-with-icon-md {
  width: 16rem;
  padding: 11.2px 2rem;
}
.primary-btn-lg,
.btn-with-icon-lg {
  background-color: var(--medium-blue);
  width: 20rem;
  padding: 0.7rem 2rem;
}
.primary-btn-sm:hover,
.primary-btn-md-one:hover,
.primary-btn-md-two:hover,
.primary-btn-lg:hover,
.btn-with-icon-sm:hover,
.btn-with-icon-md:hover,
.btn-with-icon-lg:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
}

/* secondary btns */
.secondary-btn-sm,
.secondary-btn-lg {
  border: 2px solid;
  background-color: transparent;
  font-size: 1.25rem;
}
.secondary-btn-sm {
  box-sizing: border-box;
  border-color: var(--light-grey);
  color: var(--dark-black);
  width: 7rem;
  padding: 8px 10px;
  border-radius: 3px;
  transition: 0.3s;
}
.secondary-btn-sm:hover {
  border-color: var(--medium-red);
  background-color: var(--medium-red);
  color: var(--off-white);
}

.secondary-btn-md:hover {
  background-color: var(--dark-grey);
  color: var(--off-white);
}

.secondary-btn-lg {
  box-sizing: border-box;
  border-radius: 3px;
  border-color: var(--dark-black);
  color: var(--dark-black);
  width: 16rem;
  padding: 1.5rem 2rem;
  transition: 0.3s ease-in-out;
}
.secondary-btn-lg:hover {
  border-color: var(--medium-blue);
  background-color: var(--medium-blue);
  color: var(--off-white);
}

/* iframes */

.btn-iframes {
  height: 13rem;
}
.btn-iframes-icon-btn {
  height: 14.5rem;
}
.btn-iframes-btn-with-icon {
  height: 21rem;
}
.floating-btn-iframe {
  height: 8.5rem;
}

/* icon btns */

.icon-btn {
  height: 3rem;
  width: 3rem;
  background-color: var(--dark-black);
  border: none;
}
.fa-arrow-left,
.fa-arrow-right {
  font-size: 1rem;
  color: var(--off-white);
}
.fa-times-circle,
.fa-shopping-cart,
.fa-bolt {
  padding-right: 5px;
}

/* link btn */
.link-btn-container {
  height: 3rem;
}
.link-btn {
  width: 7rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.link-btn-link {
  font-size: 1.25rem;
  color: var(--medium-orange);
}
.floating-action-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--medium-blue);
  border: none;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.4));
}

.fa-chevron-up {
  color: var(--dark-black);
}
