@import url(/style.css);

.avatar-container {
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.avatar-img-sm,
.avatar-img-md,
.avatar-img-lg,
.avatar-img-x-lg {
  border-radius: 100%;
  border: 1px solid var(--dark-black);
}

.avatar-img-sm,
.icon-avatar-sm {
  height: 2rem;
  width: 2rem;
}

.avatar-img-md {
  height: 3.5rem;
  width: 3.5rem;
}

.avatar-img-lg {
  height: 5rem;
  width: 5rem;
}

.avatar-img-x-lg {
  height: 7rem;
  width: 7rem;
}

/* iframe */
.avatar-image-iframe {
  height: 23rem;
}
