@import url(/style.css);

:root {
  --alert-green: #d9f99d;
  --alert-blue: #bfdbfe;
  --alert-yellow: #fde68a;
  --alert-red: #fecaca;
}

.alert-container {
  margin: 2rem 0;
}

.alert {
  padding: 1rem;
  width: 20rem;
  margin-bottom: 10px;
}

.fa-check-circle,
.fa-info-circle,
.fa-times-circle {
  margin-right: 3px;
}

.alert-success {
  background-color: var(--alert-green);
}

.alert-informational-notes {
  background-color: var(--alert-blue);
}

.alert-warning {
  background-color: var(--alert-yellow);
}

.alert-error {
  background-color: var(--alert-red);
}

.alert-iframe {
  height: 28rem;
}
