@import url(/style.css);

.responsive-image {
  width: 100%;
  max-width: 56.25rem;
  height: auto;
}
.round-image {
  border-radius: 50%;
  width: 100%;
  max-width: 21.875rem;
  max-height: 21.875rem;
}

/* iframe */
.image-iframe {
  margin-top: 2rem;
  height: 14rem;
}
